@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #333333;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  border: 0;
  /* vertical-align: top; */
}
.clearfix ::after {
  content: "";
  display: block;
  clear: both;
}

/* layout */
.wrap {
  width: 1200px;
  margin: 0 auto;
  /* background-color: aliceblue; */
}
.popUpBox {
  position: fixed;
  width: 100%;
  height : 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 100;
  display : none;
}
.popUp {
  width : 700px;
  height : 500px;
  position: absolute;
  left:50%;
  top : 50%;
  transform: translate(-50%,-50%);
}
.popUp button {
  width : 40px;
  height : 20px;
}

/* .popUpBox{
  position: absolute;
  width : 100%;
  height : 100%;
  z-index:999;
} */
/* header-------------*/
header {
  width: 100%;
  height: 100px;
  /* background-color: aquamarine; */
  position: relative;
}
header .logo {
  width: 200px;
  height: 100px;
  display: block;
  /* background-color: blueviolet; */
  float: left;
  box-sizing: border-box;
  padding-top: 30px;
}
/* header nav------------- */
header nav {
  width: 700px;
  float: right;
  margin-top: 30px;
  margin-right: 30px;
}
header ul a {
  border: 1px solid red;
}
header nav ul.gnb {
  width: 100%;
  float: right;
}
header nav ul.gnb > li {
  width: 25%;
  float: left;
  text-align: center;
  position: relative;
}
header nav ul.gnb > li > a {
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: white;
  display: block;
  font-size: 18px;
  font-weight: bold;
}
.gnb > li:hover > a,
.sub > li:hover > a {
  background-color: pink;
  color: #fff;
}
header nav ul.gnb > li > ul.sub {
  width: 100%;
  position: absolute;
  left: 0;
  top: 40px;
  z-index: 3;
  display: none;
}
header nav ul.gnb > li > ul.sub > li {
  width: 100%;
  height: 30px;
  line-height: 30px;
  display: block;
}

header nav ul.gnb > li > ul.sub > li > a {
  display: block;
  width: 100%;
  height: 100%;
  font-weight: bold;
  /* background-color: #fff; */
}

/* slide---------------------- */
.slide {
  width: 100%;
  height: 300px;
  /* background-color: azure; */
  position: relative;
  overflow: hidden;
}

.slide ul {
  width: 100%;
  position: absolute;
  top: 0;
}
.slide ul > li {
  width: 100%;
  height: 300px;
  text-align: center;
  font-size: 3em;
  color: #fff;
}

/* .slide ul > li:nth-child(1) {
  background-color: burlywood;
}
.slide ul > li:nth-child(2) {
  background-color: darkred;
}
.slide ul > li:nth-child(3) {
  background-color: khaki;
} */
/* contents------------------ */

.contents {
  display: flex;
  width: 100%;
  height: 200px;
  background-color: blue;
}
.contents > * {
  width: 400px;
  height: 200px;
}

.tabMenu li {
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
}
.tabMenu li a {
  display: block;
  padding: 10px;
}
.tabMenu li.on a {
  background-color: #fff;
  text-decoration: underline;
}

.tabItem > * {
  height: 155px;
  /* padding: 5px 10px 10px 20px; */
}
.tabItem > *.on {
  /* background: rgb(255, 245, 245); */
}

.notice li {
  display: flex;
  line-height: 2.5em;
  margin-left : 20px;
  /* background-color: antiquewhite; */
}
.notice li a {
  display: inline-block;
  width: 260px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.notice li span {
  margin-left: 5px;
  /* background-color: azure; */
}
.notice li:hover {
  text-decoration: underline;
}

.gallery {
  display: none;
}
.gallery li {
  display: inline-block;
  width: 30%;
  margin-top: 8px;
  margin-left: 8px;
  background-color: antiquewhite;
  /* justify-content: space-around; */

}
.gallery a img {
  width: 100%;
  height : 100%;
  
}
.banner,
.link {
  position: relative;
  float: left;
  width: 400px;
  height: 200px;
  
}
.banner h2,
.link h2 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  font-weight: 600;
  background: #fff;
  padding: 10px;
}
.banner img,
.link img {
  width : 100%;
  height : 100%;

/* .contents {
  width: 100%;
  height: 200px;
  background-color: blueviolet;
}
.contents h2 {
  background-color: #fff;
  color: #333333;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  width: 100px;
  height: 30px;
  line-height: 30px;
  float: left;
  border: 1px solid red;
  cursor: pointer;
}
.contents .tab {
  width: 400px;
  height: 200px;
  background-color: blanchedalmond;
  float: left;
  position: relative;
 
}
.contents .tab ul {
  width: 100%;
  height: 170px;
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 30px;
  display: none;
}
.contents .tab ul.on {
  display: block;
}
.contents .tab h2.on {
 
  text-decoration: underline;
}
.banner {
  width: 400px;
  height: 200px;
  
  float: left;
  position: relative;
}
.link {
  width: 400px;
  height: 200px;
  
  float: left;
  position: relative;
}
.banner img,
.link img {
  
  width: 100%;
  height: 200px;
  border: 1px solid red;
  overflow: hidden;
}
.banner h2,
.link h2 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  font-weight: 600;
  background: #fff;
  padding: 10px;
} */

footer {
  width: 100%;
  height: 100px;
  background-color: cornflowerblue;
}
