@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  color: #333333;
}

a {
  text-decoration: none;
}
ul,
li {
  list-style: none;
}
img {
  border: none;
}

/* ----layout */
.wrap {
  width: 1200px;
  margin: 0 auto;
}
.popup {
  width: 500px;
  height: 250px;
  border: 1px solid blue;
  position: fixed;
  top: 20%;
  left: 35%;
  z-index: 100;
  background-color: #ffffff;
  box-sizing: border-box;
  display: none;
}
.popup .title {
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: seagreen;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
}

.popup .inner {
  width: 100%;
  height: 200px;
  line-height: 50px;
  background-color: cornflowerblue;
  text-align: center;
  box-sizing: border-box;
  padding: 10px;
}
.closeBtn {
  width: 25px;
  height: 25px;
  position: absolute;
  background-color: #ffffff;
  text-align: center;
  font-size: 25px;
  bottom: 0;
  right: 0;
  margin: 0 10px 10px 0;
}

/* ----header */

header {
  width: 100%;
  height: 100px;
  background-color: salmon;
  position: relative;
}

header .logo {
  width: 200px;
  height: 100px;
  float: left;
  background-color: wheat;
  display: block;
}
nav {
  width: 1000px;
  height: 100px;
  float: left;
  background-color: teal;
  box-sizing: border-box;
}
.navBg {
  width: 100%;
  position: absolute;
  background-color: firebrick;
  top: 100px;
  left: 0;
  height: 120px;
  display: none;
  z-index: 3;
}

.gnb {
  width: 600px;
  float: right;
  background-color: firebrick;
  margin-right: 20px;
  margin-top: 60px;
  box-sizing: border-box;
}
.gnb > li {
  width: 25%;
  float: left;
  text-align: center;
  display: block;
  position: relative;
}
.gnb > li > a {
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-weight: 600;
  font-size: 16px;
  display: block;
}
.sub {
  width: 100%;
  position: absolute;
  top: 40px;
  left: 0;
  z-index: 3;
  display: none;
}
.sub > li {
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  box-sizing: border-box;
  display: block;
  background-color: firebrick;
}
.sub > li > a {
  width: 100%;
  height: 100%;
  font-size: 14px;
  display: block;
}
.gnb > li:hover > a,
.sub > li:hover > a {
  background-color: white;
  color: firebrick;
}
/* ----slide */
.slide {
  width: 100%;
  height: 300px;
  background-color: seagreen;
  position: relative;
  overflow: hidden;
}
.slide ul {
  width: 100%;
  height: 300px;
  position: absolute;
  text-align: center;
}
.slide ul > li:nth-child(1) {
  background-color: cadetblue;
}
.slide ul > li:nth-child(2) {
  background-color: chartreuse;
}
.slide ul > li:nth-child(3) {
  background-color: chocolate;
}
.slide ul > li {
  width: 100%;
  height: 300px;
  box-sizing: border-box;
  top: 0;
  left: 0;
}

/* ----contents */

.contents {
  width: 100%;
  height: 200px;
  background-color: silver;
}
.board {
  width: 400px;
  height: 200px;
  background-color: saddlebrown;
  float: left;
}
.tab {
  width: 100%;
}
.btn {
  width: 100%;
  height: 50px;
  background-color: honeydew;
  height: 50px;
  line-height: 40px;
}
.btn > li {
  float: left;
  margin: 5px 20px;
  box-sizing: border-box;
}
.btn > li.on a {
  border-bottom: 3px solid black;
  font-weight: 600;
}
.frame {
  width: 100%;
  height: 150px;
  background-color: seashell;

  box-sizing: border-box;
}
.frame > ul {
  display: none;
}
.notice {
  width: 100%;
  height: 100%;
}
.notice > li {
  height: 30px;
  line-height: 30px;
  padding: 10px 20px 10px 30px;
}
.notice > li > a {
  width: 70%;
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: no-wrap;
}
.notice > li:hover > a,
.notice > li:hover > span {
  text-decoration: underline;
}
.link {
  width: 400px;
  height: 200px;
  background-color: sandybrown;
  float: left;
}
.gallery {
  width: 100%;
  height: 150px;
  display: block;
  /* float: left; */
  text-align: center;
}
.gallery > li {
  width: 30%;
  /* float: left; */
  display: inline-block;
  box-sizing: border-box;
}
.gallery > li > a > img {
  width: 100%;
  height: 100%;
}
/* ----footer */
footer {
  width: 100%;
  height: 100px;
  background-color: skyblue;
}

.footerNav {
  width: 1000px;
  height: 50px;
  float: left;
  background-color: tan;
  text-align: center;
}
.copyright {
  width: 1000px;
  height: 50px;
  float: left;
  background-color: whitesmoke;
}
.family {
  width: 200px;
  height: 100px;
  float: right;
  position: relative;
}
.family select {
  width: 100px;
  height: 40px;
  display: block;
  left: 50px;
  top: -15px;
  position: absolute;
}
