@charset "utf-8";
* {
  margin: auto 0;
  padding: 0;
  color: #333333;
}

a {
  text-decoration: none;
}
ul,
li {
  list-style: none;
}
img {
  border: 0;
}

/* layout */
.wrap {
  width: 1000px;
}

/* header */
/* slide */
/* contents */
/* footer */
