* {
  padding: 0;
  margin: 0;
  font-family: "맑은 고딕", sans-serif;
  font-size: 14px;
  color: #222328; /* 문제지 제시한 기본 텍스트색 */
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  border: none;
}
body {
  width: 1000px;
  height: 650px;
} /* 메뉴 세로형 넓이 1000 */
header {
  float: left;
  width: 200px;
  height: 650px;
}
section {
  float: left;
  width: 800px;
  height: 650px;
}
footer {
  width: 800px;
  height: 100px;
}
header h1 {
  width: 200px;
  height: 100px;
  padding: 30px 0;
  box-sizing: border-box;
} /* 메뉴 */

.nav_header {
  width: 200kpx;
  overflow: hidden;
  padding: 20px;
  box-sizing: border-box;
}
.nav_header > ul > li {
  width: 100%;
  overflow: hidden;
}
.nav_header > ul > li:hover .mainMenu {
  color: #f0e1b8;
} /* 마우스 오버 시 글자색 변경 */
.mainMenu {
  display: block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  border-bottom: 1px solid #fff;
}
.subMenu {
  width: 100%;
  overflow: hidden;
  background-color: #fff;
}
.subMenu a {
  display: block;
  width: 100%;
  height: 30px;
  line-height: 30px;
  padding-left: 10px;
  box-sizing: border-box;
}
.subMenu a:hover {
  background-color: #344980;
  color: #fff;
}
/* 슬라이드 */
.slide {
  width: 800px;
  height: 350px;
}
.slide ul {
  width: 100%;
  height: 100%;
  position: relative;
}
.slide li {
  display: none;
  position: absolute;
  top: 0;
  left: 0; /* 이미지 모두 겹치게 */
  width: 100%;
  height: 100%;
}
.slide li img {
  display: block; /* 이미지아래 여백 제거 */
  width: 100%;
  height: 100%;
}
/* 컨텐츠 : 공지사항, 갤러리, 배너, 바로가기 */
.contents {
  width: 800px;
  height: 200px;
} /* 공지사항 + 갤러리 + 배너 + 바로가기 */
.board {
  /* 공지사항 + 갤러리 */
  float: left;
  width: 400px;
  height: 200px;
  padding: 0 20px;
  box-sizing: border-box;
}
.board .btn {
  /* 탭 버튼 */
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #999999;
}
.board .btn li {
  float: left;
  margin: 0 10px;
  height: 100%;
  line-height: 49px;
}
.board .btn li a {
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: bold;
  color: #999999;
}
.board .btn li.on a {
  color: #222328;
  border-bottom: 3px solid #222328;
}
.board .btn .tab1 {
  margin-left: 0;
}
.board .frame {
  width: 100%;
  height: 140px;
}
.frame > div {
  display: none;
} /* 공지사항 */
.notice {
  width: 100%;
  height: 150px;
}
.notice li {
  width: 100%;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
}
.notice li a {
  float: left;
  display: block;
  width: 290px;
  height: 30px;
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 12px;
}
.notice li .date {
  float: right;
  display: block;
  width: 70px;
  height: 30px;
  padding-right: 10px;
  box-sizing: border-box;
  font-size: 12px;
} /* 팝업창 */
.popup {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 150px;
  margin: 0 auto;
  z-index: 6000;
  width: 300px;
  height: 300px;
  border: 1px solid #999999;
  padding: 20px;
  box-sizing: border-box;
  background-color: #fff;
}
.popup h2 {
  font-size: 18px;
  margin-bottom: 10px;
}
.popup p {
  font-size: 12px;
  color: #666666;
  line-height: 17px;
  margin-bottom: 10px;
}
.popup a {
  display: block;
  font-size: 12px;
  text-align: right;
} /* 갤러리 */
.gallery {
  width: 100%;
  height: 140px;
}
.gallery ul {
  padding: 25px 0;
}
.gallery li {
  float: left;
  width: 100px;
  height: 100px;
  margin: 0 10px;
}

/* 푸터 */
footer h1 {
  width: 200px;
  height: 100px;
}
.nav_footer,
footer h1 {
  float: left;
  width: 200px;
  height: 100px;
  padding: 30px 0;
  box-sizing: border-box;
}
.nav_footer,
footer p {
  float: left;
  width: 600px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}
.nav_footer li {
  display: inline-block; /* 리스트 요소들 한 줄로 처리 */
  padding-right: 10px;
}
.nav_footer li:after {
  content: "|"; /* 리스트 요소 구분바 */
  position: relative;
  left: 7px;
  top: -2px;
}
.nav_footer li:last-child {
  padding-right: 0;
}
.nav_footer li:last-child:after {
  content: "";
} /* 마지막 요소 뒤 구분바 없음 */
